{% extends "shop/base.html" %}
{% block title %}
 Success
{% endblock %}
{% block content %}
<h1>Receipt</h1>
<p><strong>Payment method:</strong> {{ payment_method }}</p>
<p><strong>Product list:</strong></p>
<ul>
    {% for item in order_items.all %}
    <li>{{ item.product.name }} — {{ item.quantity }} x {{ item.price }}</li>
    {% endfor %}
</ul>
<p><strong>Total cost:</strong> {{ total_cost }}</p>
<p><strong>Discount:</strong> {{ discount }}%</p>
<p><strong>Cash register number:</strong> {{ cash_register }}</p>
<p><strong>Date and time of order:</strong> {{ order_time }}</p>
<p><strong>Transport company:</strong> {{ transport_company }}</p>
{% endblock %}
